.root {
    width: 100%;
height: 909px;
flex-shrink: 0;
border-radius: 15px;
background: #ffffff;
/* border: 1px solid black; */
box-shadow: 0px 20px 50px 0px rgba(220, 224, 249, 0.50);
}

.top-header{
    /* padding: 29px; */
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px;
}
.left-text-container-user{
    padding: 25px 0px 0px 0px;
}
.change-password-section {
    margin: 20px 0px 0px 0px;
}
.button-update{
    margin: 29px 0px;
    width: 15%;
    background: #FF4D42
}
.text-input {
    margin: 10px 0px 0px 0px
}